container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "wormie.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "wormie/wsgi.py"

packages:
  yum:
    postgresql93-devel: []
